In [1]:
# import pandas module
# import os module
import pandas as pd
import os

In [2]:
# Define a file path (using os module) pointing to the pickled file from Exercise 1
# Create a Pandas DataFrame from the pickled file. Use the file path as an argument.

df = pd.read_pickle("locations_data_frame.pickle")

In [3]:
# Display the DataFrame
df.head()

,mindate,maxdate,name,datacoverage,id,source
0,1983-01-01,2019-11-16,"Abu Dhabi, AE",1.0000,CITY:AE000001,locations_0.json
1,1974-08-01,2019-11-16,"Mersin, TU",0.9986,CITY:TU000042,locations_0.json